@font-face {
    font-family: 'AC Filmstrip';
    src: url('../fonts/ACFilmstrip.otf') format('opentype');
}
/* @import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap"); */

@font-face {
    font-family: 'Iowan Old Style';
    /* "C:\Users\rusha\Documents\InfiniteOptions\movie-recommender\src\fonts\bitstream-iowan-old-style-bt-586c36a8d7712.ttf" */
    src: url('../fonts/bitstream-iowan-old-style-bt-586c36a8d7712.ttf') format('truetype');
}

@font-face {
    font-family: 'Istok Web';
    src: url('../fonts/IstokWeb-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    /* C:\Users\rusha\Documents\InfiniteOptions\movie-recommender\src\fonts\merriweather.bold.ttf */
    src: url('../fonts/merriweather.bold.ttf') format('truetype');
}

.Login {
    background-color: black;
    /* width: 300px; */
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.StarAnimation {
    margin: auto;
    /* height: 100%; */
    /* width: 100%; */
    min-height: 100vh;
    background-color: #000000;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background-color: #f0f0f0; */
}

.top-bar button {
    padding: 5px 10px;
    cursor: pointer;
}

.hamburger-icon {
    cursor: pointer;
    font-size: 24px;
    color: #DBE3FF;
}

.heading-label{
    font-family: 'AC Filmstrip', sans-serif;
    font-size: 42px;
    color: gold;
}

.search-icon{
    color: #DBE3FF;
}

.bell-icon {
    cursor: pointer;
    font-size: 24px;
    color: #8DAAC8;
    border-color: #8DAAC8;
}

.search-bar {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 3px solid black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #323E4A;
}

.search-bar .search-icon {
    margin-right: 10px;
    color: #DBE3FF;
}

.search-bar input {
    width: 100%;
    /* padding: 10px; */
    font-family: 'Iowan Old Style', serif;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: #DBE3FF;
}

.button-row {
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.button-row button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #323E4A;
    color: #fff;
    font-family: 'Istok Web', sans-serif;
    transition: background-color 0.3s;
}

/* .button-row button:hover {
    background-color: #0056b3;
} */
.container {
    /* background-color: antiquewhite; */
}

.titleHeading {
    /* background-color: yellow; */
    text-align: left;
    margin-bottom: 50px;
    color: #DBE3FF;
    font-family: Merriweather;
}

.favorites {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    flex: 1;
    height: min-content;
    /* background-color: blueviolet; */
}

.favorite-item {
/* .StarAnimation .favorite-item { */
    display: flex;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: antiquewhite;
    background-color: #192027;
    /* align-items: center; */
    /* height: auto; */
    /* bottom: 30%; */
    height: 50px;
    /* margin-bottom: 20px; */
    margin-top: 10px;

    border-radius: 5px;
    
}

/* .StarAnimation .movie-title { */
.movie-title-input{
    background-color: transparent;
    flex: 1;
    /* background-color: red; */
    border-color: none;
    border: none;
    font-family: 'Iowan Old Style', serif;
    padding: 10px;
    font-size: 16px;
    /* margin-bottom: 30px; */
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
}

.StarAnimation .slider {
    margin-left: 10px;
    width: 100px;
    color: gold;
    background-color: #8DAAC8;
}

.star-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="yellow"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.789 1.523 8.196L12 18.896 4.541 23.29l1.523-8.196L0 9.306l8.332-1.151L12 .587z"/></svg>') no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    color: gold;
}

.star-slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="yellow"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.789 1.523 8.196L12 18.896 4.541 23.29l1.523-8.196L0 9.306l8.332-1.151L12 .587z"/></svg>') no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    color: gold;
}

.bottom-buttons {
    margin-top: 50px;
    /* background-color: aqua; */
    /* align-items: center; */
    /* justify-content: center; */
    /* align-content: center; */
    
}

.get-recommendations {
    /* display: block; */
    background-color: #323E4A;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #DBE3FF;
    /* margin-bottom: 10px; */
    transition: background-color 0.3s;
}

.login-button {
    /* display: block; */
    width: 40%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #8DAAC8;
    color: #fff;
    font-family: Merriweather;
    transition: background-color 0.3s;
}


/* .StarAnimation .get-recommendations:hover,
.StarAnimation .login-button:hover {
    background-color: #0056b3;
} */