.App {
  padding: 10px;
}

.Header {
  text-align: center;
  font-family: 'AC Filmstrip';
  font-size: 64px;
  margin-bottom: 20px;
}

.List {
  font-family: 'Actor';
  font-size: 20px;
}

.List .List-Header {
  padding: 10px;
}

.Table {
  padding: 15px;
  font-size: 16px;
  width: 100%;
}

.Table .Left-Pane {
  width: 70%;
}

.Table .Right-Pane {
  width: 30%;
}

td {
  text-align: center;
}

.Recommend {
  margin: 40px 20px;
  display: flex;
  justify-content: center;
}

.Recommend button {
  width: 55%;
  font-size: 16px;
}

.Signup {
  margin: 40px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Signup button,
.Share button {
  align-self: center;
  font-size: 16px;
  width: 55%;
}

.Signup-List {
  list-style-type: "\002B";
  font-size: 12px
}

.Signup-List-Title {
  margin-left: -10px;
}

.Login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Login form,
.Create-Form,
.Create-Account,
.Profile,
.Profile-User,
.Profile-User label,
.Share,
.Share table {
  padding: 20px
}

.Profile-Notif {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Share-Popcorn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Share table {
  border-spacing: 30px 0;
  border-collapse: separate;
  align-content: center;
}

.Share tr {
  vertical-align: bottom;
}

@font-face {
  font-family: "AC Filmstrip";
  src: local("ACFilmstrip"), url("./assets/fonts/ACFilmstrip.otf") format("opentype");
}

@font-face {
  font-family: "Actor";
  src: local("Actor"), url("./assets/fonts/Actor.ttf") format("truetype");
}